.header {
    padding: 100px;
    background-image: url("tlo.jpg");
    color: antiquewhite;
    text-align: center;
}

.body {
    margin-left: 25px;
}

.recipe {
    display: flex;
    flex-direction: row;
}

.recipe-info {
    display: flex;
    flex-direction: column;
}
